:root{
    --color-primary: #007bff;
    --text-primary: #212529;
    --background-primary: #fff;
    --tag-color: #6c757d;
    --border-primary: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
    --color-primary: #9980FA;
    --background-primary: #121212;
    --text-primary: #fff;
    --tag-color: #E5E5E5;
    --border-primary: rgba(255, 255, 255, 0.5);

    /* Avoid blinding the user */
    /* filter: brightness(.8) contrast(1.2); */
    filter: brightness(.8);
    /* transition: all 0.5s ease-in-out !important; */
}

body{
    background: var(--background-primary); 
    color: var(--text-primary);
    /* transition: all 0.5s ease-in-out !important; */
  }


/*NAV*/
.nav-link{
    color: var(--background-primary) !important;
}
.navbar-toggler {
    outline: none;
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item, .nav-link{
    border-radius: 25px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    /* transition: 0.15s ease-in-out; */
    margin: 0.2rem;
    cursor: pointer;
}

.nav-item:hover, .nav-item:active{
    background:var(--background-primary);
    color:var(--color-primary) !important;
}

nav{
    background-color: var(--color-primary) !important;
}


/*CARD */
.card-body{
    border-top: 3px solid var(--color-primary);

    /*Card shadow effect*/
    box-shadow: 0 3px 8px 0 var(--border-primary);

    margin-left:0.5rem;
    margin-right:0.5rem;
    background: var(--background-primary);
    /* transition: all 0.5s ease-in-out !important; */
}

#card-link{
    border: 1px solid var(--color-primary);
    padding-left:1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 25px;
    text-decoration: none;
    /* transition: 0.15s ease-in-out; */
    color:var(--color-primary);

    
    white-space: nowrap; /*Prevents links from wrapping*/
    line-height: 2rem;
}

#card-link:hover, #card-link:active{
    background: var(--color-primary);
    color:white;
}

.text-muted{
    color: var(--tag-color) !important;
}

.row{
    width: 100% !important;
    margin: 0 auto;
}

.card{
    border:none;
    background: var(--background-primary);
    /* transition: all 0.5s ease-in-out !important; */
}

#wrap{
    margin-left:2%;
    margin-right:2%;
}

#section{
    margin-top: 5.3rem;
}


.text-muted{
    color: var(--tag-color) !important;
}

#heading{
    font-size: 30px;
}

#logo{
    border-radius: 50%;
    width: 13rem;
}

#intro{
    font-weight: lighter;
    font-size: 30px;
}

.social{
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: 0.15s ease-in-out;
}

.social:hover, social:active{
    filter: brightness(0.6);
    text-decoration: none;
}

i{
    color: var(--color-primary);
}

.theme-toggle{
    font-size: 20px;
}

#themeToggleCheckBox{
    width:25px;
    height:25px;
}

#themeToggleDescription{
    display: inline;
}

hr{
    border-top: 5px solid var(--color-primary);
}